{% extends "base.html" %}

{% block content %}
<div style="width:50% margin:auto;">
<h1>List of completed Task</h1>
{% if task %}
<table class="table table-bordered">
       <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in task %}
      {% if item.is_completed == True %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.taskTitle}}</td>
        <td>{{item.taskDescription}}</td>
        <td>Completed</td>
      </tr>
      {% endif %}
      {% endfor %}
      
    </tbody>
  </table>
  {% else %}
  <h1>No Data Avaliable</h1>
  {% endif %}
</div>
{% endblock %}